.hamburger-menu {
    padding: 20px 40px;
    background-color: #181614;
    position: absolute;
    width: 70%;
    height: 100%;
    z-index: 900;
}
.hamburger-menu ul {
    list-style: none;
    padding: 0;
}
.hamburger-menu li {
    margin: 10px 0;
}
.hamburger-menu a {
    text-decoration: none;
    color: #F2F2F2;
    font-size: 1.2em;
}

#hamburgerButton img {
    width: 30px;
    height: 30px;
}

#hamburgerButton button {
    all: unset;
    cursor: pointer;
}

#hamburgerButton img {
    width: 25px;
    height: 25px;
    filter: invert(1);
    margin: 0 auto;
}

#hamburgerButton {
    display: none;
}

@media (max-width: 450px) {
    .nav-links > :not(#hamburgerButton) {
        display: none;
    }

    .nav-links > #hamburgerButton {
        display: block;
    }
}