.hamburger-menu {
    position: fixed;
    top: 80px;
    right: -100vw;
    width: 70vw;
    height: 100vh;
    z-index: 1000;
    background: #181614;
    padding: 0px 20px;
    transition: right 0.3s ease-in-out;
    border-radius: 20px 0 0 0;
}

.hamburger-menu.open {
    right: 0;
}

#hamburger-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

#hamburger-overlay.open {
    opacity: 1;
    pointer-events: all;
}

.hamburger-menu ul {
    list-style: none;
    padding: 0;
}
.hamburger-menu li {
    margin: 10px 0;
}
.hamburger-menu a {
    text-decoration: none;
    color: #F2F2F2;
    font-size: 1.2em;
}

#hamburgerButton img {
    width: 30px;
    height: 30px;
}

#hamburgerButton button {
    all: unset;
    cursor: pointer;
}

#hamburgerButton img {
    width: 25px;
    height: 25px;
    filter: invert(1);
    margin: 0 auto;
}

#hamburgerButton {
    display: none;
}

@media (max-width: 450px) {
    .nav-links > :not(#hamburgerButton) {
        display: none;
    }

    .nav-links > #hamburgerButton {
        display: block;
    }
}