header {
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    background-color: #181614;
    z-index: 900;
}

body {
    padding-top: 40px; /* Adjust for fixed header height */
}

.header {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
    padding: 30px 20px;
}

.header-content, .header-content a {
    text-decoration: none;
    color: #F2F2F2
}

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-links li a {
    padding: 10px 20px;
    border-radius: 20px;
    color: #F2F2F2;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: #53504c;
}

.nav-links li, .nav-links li a {
    list-style: none;
    text-decoration: none;
    color: #F2F2F2
}

@media (max-width: 600px) {
    #homeButton {
        display: none;
    }
}