@import url('home.css');
@import url('header.css');
@import url('footer.css');
@import url('hamburger.css');
@import url('projects.css');

@font-face {
    font-family: 'Calibre';
    src: url('Calibre-Black.otf');
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

#overlay.open {
    opacity: 1;
    pointer-events: all;
}
