.introduction {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
}

.introduction h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    padding-right: 75px;
}

.introduction h1 {
    font-size: 4em;
    margin: 0px 0px 20px 0px;
}

.intro-image-big {
    margin: auto 0;
}

.intro-image-big .avatar {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.intro-image-small {
    display: none;
}

.intro-image-small .avatar {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

@media (max-width: 650px) {
    .intro-image-big {
        display: none;
    }

    .intro-image-small {
        display: block;
        margin: auto 0;
    }
}